/OOP-Project-2.iml
/.idea/libraries/checkstyle_8_36_2_all.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/out/production/OOP-Project-2/checker/checkstyle-8.36.2-all.jar
/out/production/OOP-Project-2/checker/poo_checks.xml
/results.out
/test.json
